<!DOCTYPE html>
<html>
  <head>
    <title>Gigi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class = "navbar navbar-default navbar-fixed-top navbar-transparent">
        <div class = "container">
          <ul class = "nav nabvar-nav navbar-right">
            <% if logged_in? %>
            <li class= "box">
              <%= link_to logout_path, method: :delete do %>
              <%= image_tag '142005b.png' %>
              <% end %>
            </li>
              <li class= "box">
                <%= link_to carts_path do %>
                 <%= image_tag '165203b.png' %>
                <% end %>
              </li>
              <li class = "box">
                <%= link_to user_path(id: current_user.id) do %>
                  <%= image_tag '115777b.png' %>
                <% end %>
              </li>
              <li class="box">
                <%= link_to new_cart_product_path(id: cart.id) do %>
                  <%= image_tag '146798b.png' %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
     </header>
        <% if flash[:notice] %>
         <div class = "alert alert-success">
         <%= flash[:notice] %>
         </div>
         <% end %>
         <% if flash[:alert] %>
         <div class = "alert alert-danger">
           <%= flash[:alert] %>
         </div>
         <% end %>

        <%= yield %>
  </body>
</html>
